from flask import Flask, render_template, request
from werkzeug.utils import secure_filename
import os
import requests

app = Flask(__name__)

UPLOAD_FOLDER = "uploads"
app.config["UPLOAD_FOLDER"] = UPLOAD_FOLDER

BOT_TOKEN = "PUT_YOUR_BOT_TOKEN_HERE"
CHAT_ID = "PUT_YOUR_CHAT_ID_HERE"

if not os.path.exists(UPLOAD_FOLDER):
    os.makedirs(UPLOAD_FOLDER)

@app.route("/")
def index():
    return render_template("index.html")

@app.route("/upload", methods=["POST"])
def upload():

    name = request.form.get("name")
    whatsapp = request.form.get("whatsapp")
    brand = request.form.get("brand")
    model = request.form.get("model")
    serial = request.form.get("serial")

    file = request.files["bios"]

    filename = secure_filename(file.filename)
    filepath = os.path.join(app.config["UPLOAD_FOLDER"], filename)
    file.save(filepath)

    send_to_telegram(filepath, name, whatsapp, brand, model, serial)

    return "Uploaded Successfully ✅"

def send_to_telegram(filepath, name, whatsapp, brand, model, serial):

    caption = f"""
📥 New BIOS Job

👤 Name: {name}
📱 WhatsApp: {whatsapp}
💻 Brand: {brand}
📦 Model: {model}
🔑 Serial: {serial}
"""

    url = f"https://api.telegram.org/bot{BOT_TOKEN}/sendDocument"

    with open(filepath, "rb") as f:
        requests.post(url, data={
            "chat_id": CHAT_ID,
            "caption": caption
        }, files={"document": f})

if __name__ == "__main__":
    app.run()