body {
background:#0d1b2a;
color:white;
font-family:Arial;
text-align:center;
}

.logo {
font-size:30px;
margin:20px;
}

.hero {
margin-top:50px;
}

.upload-box {
background:#1b263b;
width:400px;
margin:auto;
padding:20px;
border-radius:10px;
}

input,select {
width:90%;
padding:10px;
margin:10px;
}

button {
background:#2ecc71;
color:white;
padding:10px 20px;
border:none;
cursor:pointer;
}

.buttons a {
display:inline-block;
margin:5px;
padding:10px;
background:#3498db;
color:white;
text-decoration:none;
}